# Binary files
*.exe
*.dll

# Build artifacts
*.exp
*.lib
*.obj
*.pdb
*.ilk
*.idb

# Visual Studio files
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Upstream documentation - we do not maintain this
Sekaiju/docs
MIDIIO/docs
MIDIData/docs
MIDIClock/docs
